
#main {
  font-family:arial;
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.quote_guess{
	display:flex;
	margin-top:10px;
	min-height:40px;
	height:max-content;
	flex-direction:row;
	flex-shrink:1;
	flex-wrap:nowrap;
	gap:1px;
}
.txtbox_buton{
	margin-top:20px
}
.txtbox{
	width:74%;
	float:left;
	height:30px;
}
.hiddenBox{
	display:none;
	margin-top:10px;
}
#dialog{
}
footer{
	position: fixed;
    height: 20px;
	font-family:"Consolas";
	font-size:8px;
	float:left;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
	
}
.enter{
	width:22%;
	float:right;
	height:30px;
}
.guess{
	flex:0.35 1 0;
	border:1px solid black;
	padding-top:3px;
	text-align:center;
}
.quote{
	border:1px solid black;
	flex:0.65 1 0;
	text-align:center;
	padding-top:3px;
}